#title {
    background-color: #ff4c68;
}

.container {
    padding: 3% 15%;
}

#title-heading {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 2.0;
    color: white;
}
h2 {
    font-family: Montserrat;
    font-size: 4rem;
}
h4 {
    font-family: "Montserrat";
    font-size: 1.5rem;
}
.title-img {
    text-align: center;
    padding: 5%;
}
.phoneImage {
    width: 60%;
    transform: rotate(25deg);
}

.navbar {
    margin-bottom: 2%;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;
}

#features {
    padding: 7% 12%;
}
.feature-box {
    text-align: center;
    padding: 3%;
}
p {
    font-weight: bold;
    
}
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover {
    color: #ff4c68;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item {
    padding: 7% 15%;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-col {
    padding: 3% 2%;
}