/* Title */
#title {
    background-color: #ff4c68;
}

.container {
    padding: 3% 15% 7%;
}

#title-heading {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 2.0;
    color: white;
}

h2 {
    font-family: Montserrat;
    font-size: 3rem;
    line-height: 1.5;
}

h4 ,h3 {
    font-family: "Montserrat";
    font-size: 1.5rem;
}

.phoneImage {
    width: 30%;
    transform: rotate(25deg);
    position: absolute;
}
/* Navbar */
.navbar {
    margin-bottom: 7%;
    padding: 20px;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-weight: bold;
    margin-left: 20px;
    /* font-size: 2rem; */
}

.nav-item {
    padding-right: 50px;
}

.download-button {
    margin-top: 5%;
    margin-left: 3%;
}
/* Feature Section  */
#features {
    background-color: #fff;
    padding: 7% 12%;
    position: relative;
    z-index: 1;
}
.feature-box {
    text-align: center;
    padding: 3%;
}
p {
    font-weight: bold;
}
.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover {
    color: #ff4c68;
}
/* Testimonial Section  */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item {
    padding: 7% 15%;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
/* Pricing Section  */
#pricing {
    padding: 80px;
    text-align: center;
}
.pricing-col {
    padding: 3% 2%;
}
/* CTA Section  */
#cta {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
}
.cta-heading {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 2.0;
    color: white;
}
/* Footer Section  */
#footer {
    text-align: center;
    padding: 7% 15%;
}
.footer-icon {
    margin: 15px 10px;
}
/* Media Query  */
@media (max-width: 1028px)
{
    .phoneImage {
        position: static;
        transform: rotate(0);
        margin-top: 5%;
        width: 60%;
    }
    .title-img {
        text-align: center;
    }
    #title {
        text-align: center;
    }
}